apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: python-basic-170173762
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: python-basic-170173762
    app.kubernetes.io/part-of: test-app-170173762
  name: python-basic-170173762
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: python-app
      app.kubernetes.io/instance: python-basic-170173762
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: python-app
        app.kubernetes.io/instance: python-basic-170173762
    spec:
      containers:
      - image: quay.io/hacdev/bphv0iol-tenant/test-app-170173762/python-basic-170173762@sha256:2736d275ba3c582b1f8ac30d7b5ae88f70da01cd8d5863bbe2c7a5056a17e506
        name: my-python
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
